<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--ths is due to stubs involved-->
    <add key="isValidateXml" value="false"/>
    <add key="SchemaNamespace" value="http://www.nrf-arts.org/IXRetail/namespace/"/>
    <add key="Schema" value="C:\POS\Retalix\Retalix_10.3.0 Schema\ARTS\PosLog_V6\POSLogV6.0.1.xsd"/>
  </appSettings>
</configuration>